<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_kweekbook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_kweekbook"
        android:supportsRtl="true"
        android:theme="@style/Theme.KweekBook"
        tools:targetApi="31">

        <!-- HomePage Activity (Launcher) -->
        <activity
            android:name=".HomePageActivity"
            android:exported="true"
            android:theme="@style/Theme.KweekBook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Main Activity (Book List) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Book Detail Activity -->
        <activity
            android:name=".BookDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- User Profile Activity -->
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Notifications Activity -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Favorites Activity -->
        <activity
            android:name=".FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

        <!-- Borrow History Activity -->
        <activity
            android:name=".BorrowHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.KweekBook" />

    </application>

</manifest>
